@charset "UTF-8";

#recipe_header {
  border:none 2px #aaa;
  border-bottom-style:solid;
  margin-bottom:0.5em;
  .logo{
    width:100px;
    height:50px;
    border:solid 1px #aaa;
    float:left;
    clear:none;
  }
  .header_search {
    width:auto;
    float:left;
    clear:none;
    border-style:none;
  }
  dl#login_area {
    min-width:25em;
    position:relative;
    float:right;
    dt {
      border:solid 1px #aaa;
    }
    dd {
      display:none;
      position:absolute;
      background-color:white;
      border:solid 1px #aaa;
      z-index:+2;

      opacity:0;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      form {
        background-color:white;
        border-style:none;
      }
    }
  }
  dl#login_area:hover {
    dd{
      display:block;
      opacity:0.5;
    }
  }
}
#recipe_header:after {
  content:"";
  display:block;
  clear:both;
}
