
<div id="content">
  <h2>bookmark</h2>
  <div id="content_body">
    <div id="recipes">
      <% @recipes.each do |recipe| %>
        <div class="recipe">
          <div class="figure recipe_photo">
            <%=image_tag recipe.recipe_image.url(:thumb), alt:"image" %>
          </div>
          <%= link_to recipe.title, action:'show', id: recipe.id %>
          <p><%= recipe.description %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class='nav' id='nav'></div>
</div>
