<div id="content_tabpanel" class="tappanel">
  <ul class="tabpanel">
    <li><%= link_to "restaurant", action:"restaurant" %></li>
    <li><%= link_to "recipe",     action:"recipe" %></li>
  </ul>
</div>
