#top_bar
  %ul
    %li.name こんにちは○さん

#top_nav.nav
  %ul
    %li エリアから探す
    %li 駅、路線から探す
    %li 料理から探す

#header
  %h1
    %p ras_vn
    %p 宴会・グルメ情報検索サイト
  #top_advertisement
    %p hoge

#context
  #location_map.tile
    %h2 全国のグルメ・レストランを探す
    %div map
  #kangei.tile
    %h2 歓迎会・送別会・4月の宴会特集
    %div 
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
  #kyanpain.tile
    %h2 ４月の今だけキャンペーン
    %div 
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
  #redomendation_tools.tile
    %h2 お店予約の便利ツール
    %div hoge
