=render partial:'common/top_nav'

#top_nav.nav
  %ul
    %li=link_to "検索TOP", controller:'search', action:'index'
    %li=link_to "エリアから探す", controller:'search', action:'area'
    %li=link_to "料理から探す", controller:'search', action:'food_genre'
    %li=link_to "オススメから探す", controller:'search', action:'shop_character'

#header
  %h1
    %p ras_vn
    %p 宴会・グルメ情報検索サイト
  #top_advertisement
    %p hoge

#context
  #location_map.tile
    %h2 全国のグルメ・レストランを探す
    .map map
    .area_list
      %dl
        - AreaMaster.where( " data_type = 1 " ).each do |area|
          %dt= area.name
  #kangei.tile
    %h2 歓迎会・送別会・4月の宴会特集
    %div 
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
  #kyanpain.tile
    %h2 ４月の今だけキャンペーン
    %div 
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
      %p list
  #redomendation_tools.tile
    %h2 お店予約の便利ツール
    %div hoge
  #trend_bar
    %ul
      %li トレンドランキング(人気急上昇)
      %li テレビに出たお店
      %li 私のおすすめメニューランキング
      %li 全国共通お食事券
  #food_genre_area
    %h3 料理ジャンル一覧
    %ul.food_genre_list
      - FoodGenreMaster.all.each do |genre|
        %li=link_to genre.name, controller:'search', action:'food_genre', id: genre.id
  #shop_character_area
    %h3 こだわり一覧
    %ul.food_genre_list
      - ShopCharacterMaster.all.each do |chara|
        %li=link_to chara.name, controller:'search', action:'shop_character', id: chara.id

#footer
  #info_links_area
    %ul
      %li 企業情報
      %li 利用規約
      %li 利用条件
      %li ニュースリリース
      %li プライバシーポリシー
      %li IR情報
      %li 加盟店募集
      %li 採用情報
  .cooporate_logo
    %p このホームページのご意見ご質問はこちら
    %p Copyright© Gurunavi, Inc. All rights reserved.
