=render partial:'common/top_nav'

#top_nav.nav
  %ul
    %li=link_to "検索TOP", controller:'search', action:'index'
    %li=link_to "エリアから探す", controller:'search', action:'area'
    %li=link_to "料理から探す", controller:'search', action:'food_genre'
    %li=link_to "オススメから探す", controller:'search', action:'shop_character'

#header
  %h1
    %p ras_vn
    %p 宴会・グルメ情報検索サイト
  #top_advertisement
    %p hoge

#content
  #nav
    #genre_list
      %ul
        - @food_genre.each do |genre|
          %li=link_to genre.name, controller:'search', action:'food_genre', id: genre.id
        %li.more=link_to "more...", controller:'search', action:'food_genre'
  #content_body
    #location_map.tile
      %h2 全国のグルメ・レストランを探す
      .map map
      .area_list
        %dl
          - AreaMaster.where( " data_type = 1 " ).each do |area|
            %dt= area.name
    #redomendation_tools.tile
      %h2 お店予約の便利ツール
      %div hoge
  #sub_nav
    #promotion.tile
      %p 広告
    #facebook.tile
      %h2 Facebook
      #facebook_body
        %p facebook


#footer
  #info_links_area
    %ul
      %li 企業情報
      %li 利用規約
      %li 利用条件
      %li ニュースリリース
      %li プライバシーポリシー
      %li IR情報
      %li 加盟店募集
      %li 採用情報
  .cooporate_logo
    %p このホームページのご意見ご質問はこちら
    %p Copyright© Gurunavi, Inc. All rights reserved.
