<% include_action_style_sheet %>

<%= render partial:"layouts/header" %>

<div id="content" class="section">

  <div id="content_body">
    <div id="popular_recipe_area">
      <table id="popular_category">
        <tr>
          <th>オススメカテゴリ</th>
         </tr>
         <tr>
          <td>アメリカ発チーズ好き必見ビファロニ</td>
        </tr>
      </table>
      <table id="popular_recipe">
        <tr>
          <th>人気レシピ</th>
        </tr>
        <tr>
          <td>
            <div class="figure">写真</div>
            敗れ憎い小籠包<br />
            by しばわんこ
          </td>
        </tr>
        <tr>
          <td>
            <div class="figure">写真</div>
            敗れ憎い小籠包<br />
            by まさパンダワン
          </td>
        </tr>
      </table>
    </div>
    <div id="category_recipe_search">
      <h3>カテゴリからレシピを探す</h3>
      <div class="section">
        <div class="recipe_category">
          野菜<br />
          <ul class="recipe_sub_category">
            <li><%=link_to "たけのこ", controller:'recipes', action:'index', category_id: 1 %></li>
            <li>キャベツ</li>
            <li>じゃがいも</li>
            <li>たまねぎ</li>
            <li>なす</li>
            <li>じゃがいも</li>
          </ul>
          <p class="more_link">もっと見る</p>
        </div>
        <div class="recipe_category">
          野菜<br />
          <ul class="recipe_sub_category">
            <li>たけのこ</li>
            <li>キャベツ</li>
            <li>じゃがいも</li>
            <li>たまねぎ</li>
            <li>なす</li>
            <li>じゃがいも</li>
          </ul>
          <p class="more_link">もっと見る</p>
        </div>
      </div>
    </div>
  </div>
  <div id="content_footer">
    <div id="footer_advertisement">
      広告スペース
    </div>
  </div>
</div>

<%= render partial:'layouts/footer' %>
