=render partial:'header'

#content
  #location_map
    .area_list
      %dl
        - AreaMaster.where( " data_type = 1 " ).each do |area|
          %dt= area.name
          %dd
            %ul
              - AreaMaster.where( " parent_id = ? ", area.id ).each do |sub_area|
                %li=link_to sub_area.name, controller:'search', action:'index', sub_area: sub_area.id
