<div class="nav grid_2">
  <h2>Menu</h2>
  <div class="section">
    <dl>
      <dt><%=link_to "マスターデータ管理", controller:"admin/master", action:"index" %></dt>
      <dt><%=link_to "ユーザーデータ参照", controller:"admin/master", action:"index" %></st>
      <dt><%=link_to "Shopデータ管理", controller:"admin/master", action:"index" %></dt>
    </dl>
  </div>
</div>

