<div class="nav grid_10">
  <h2>Menu</h2>
  <div class="section">
    <dl>
      <dt><%=link_to "ユーザーデータ参照", controller:"/users", action:"index" %></st>
      <dt><%=link_to "Shopデータ管理", controller:"/shops", action:"index" %></dt>
    </dl>
  </div>
</div>

