<%= include_action_javascript %>

<%= render partial:"layouts/content_footer" %>

<div id="content_body" class="section">
  <h2>投稿に関する注意事項</h2>
  <div class="section" id="recipe_body">
    注意事項の文言
  </div>
</div>
