<div id="content_footer">
  footer
</div>

<div id="content_body">
  <div class="paginate">
    <%=paginate @recipes %>
  </div>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="figure recipe_photo">
        画像
      </div>
      <%= link_to recipe.title, action:'show', id: recipe.id %>
      <p><%= recipe.description %></p>
    </div>
  <% end %>
</div>
