
<div class="bace_bg">
	<div class="contents_bg clearfix">
		<% if user_signed_in? %><div id="diary_create_link" class="rbtn"><%= link_to t(:new, scope:"views.diary"), { action:"new" }, class:"radi10" %></div><% end %>
		<% @diary.each do |d| %>
			<article>
				<h1 class="txt20"><%= d.title %></h1>
				<div>
					<%=hbr d.content %>
				</div>
			</article>
		<% end %>
	</div>
</div>

