<h2>日記</h2>

<div id="conent_body" class="section">
  <div class="article">
    <h3><%=link_to @diary.title, action:"show", id: @diary.id %></h3>
    <div><%= @diary.content %></div>
  </div>
</div>

