<% include_action_javascript %>

<div class="bace_bg">
	<div class="att_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<article class="contents_recipes">
				<h1 class="txt20">会員登録</h1>
				<p>送られたメールに記載された手順に従って認証処理を完了してください</p>
				<p class="txt11 cap"><%= link_to "TOPへ", "/" %></p>
			</article>
		</div>
	</div>
</div>
