<% include_action_javascript %>

<div class="bace_bg">
	<div class="att_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<article class="contents_recipes">
				<h1 class="txt20">Đăng kí thành viên</h1>
				<p>Hãy kiểm tra e-mail của bạn và click vào đường link kèm theo trong mail đề hoàn thành thủ tục đăng kí.</p>
				<p class="txt11 cap"><%= link_to "TOPへ", "/" %></p>
			</article>
		</div>
	</div>
</div>
