<% include_action_javascript %>

<div class="bace_bg">
	<div class="att_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<article class="contents_recipes">
				<h1 class="txt20">Stoped your account</h1>
				<p>Your account is stoped</p>
				<p>if you want to recover your account</p>
				<p>login your account and go to recover_account page</p>
				<p>account recover is in mypage.</p>
				<p class="txt11 cap"><%= link_to "go to TOP", "/" %></p>
			</article>
		</div>
	</div>
</div>
