<div id="content_top_menu.content_menu">
  <ul id="content_top_tab">
    <li><%=link_to "店舗トップ", action:'show', id: params[:id] %></li>
    <li><%=link_to "メニュー", action:'menu', id: params[:id] %></li>
    <li><%=link_to "地図・クーポン", action:'map', id: params[:id] %></li>
    <li><%=link_to "予約", action:'reserve', id: params[:id] %></li>
  </ul>
</div>
