#shop_header
  %h2= @shop.name
  %p.phone_number
    = @shop.phone_number
    %p ※お問い合わせの際はぐるなびを見たとお伝えになるとスムーズです。
  %p.access
    %p
      ＪＲ渋谷駅 ハチ公口 徒歩1分
      =link_to "地図を見る", controller:'map', action:'index'
