#content_bottom_menu.content_menu
  %ul#content_bottom_tab
    %li=link_to "店舗トップ", action:'show'    
    %li=link_to "メニュー", action:'menu'
    %li=link_to "地図・クーポン", action:'map'
    %li=link_to "予約", action:'reserve'
