-content_for(:style_after){ stylesheet_link_tag("shop/map") }

=render partial:"header"

%div#content.section
  =render partial:"shop_content_header"
  #shop_content 
    =render partial:"shop_content_top_menu"
    #shop_content_body
      #shop_map
        .figure
          地図
        #access_list
          %h3 最寄り駅
          %ul
            %li 渋谷(埼京線)
            %li 渋谷(埼京線)
            %li 渋谷(埼京線)
            %li 渋谷(埼京線)
      #basic_info
        %h2
          =@shop.name
          基本情報
        %table#shop_info
          %tr
            %th 店名
            %td= @shop.name
          %tr
            %th 住所
            %td= @shop.address
          %tr
            %th アクセス
            %td
          %tr
            %th TEL
            %td
              = @shop.phone_number
              %p ※お問い合わせの際はぐるなびを見たとお伝えになるとスムーズです。 
          %tr
            %th FAX
            %td= @shop.fax_number
  =render partial:"shop_content_footer"
  =render partial:'shop_content_bottom_menu'
        
=render partial:'footer'
