<div id="content_body">
  <div class="paginate">
    <%=paginate @recipes %>
  </div>
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <div class="figure recipe_photo">
          画像
        </div>
        <%= link_to recipe.title, recipe_url(recipe) %>
        <p><%= recipe.description %></p>
      </div>
    <% end %>
  </div>
</div>
