/* forbiddon select */
#edit_recipe_1 {
  max-width:50em;
}

#foodstuffs_area:after {
  content:"";
  display:block;
  clear:both;
}


.ingredient_row {
  .ingredient_name > input { 
    width:14em;
  }
  .ingredient_quantity > input{ 
    width:8em;
  }
  input {
    margin:0;
    font-size:13px;
  }
}

#recipes_steps_area:before {
  content:"";
  display:block;
  width:100%;
  clear:both;
  form.movie_button_field {
    border-style:none;
    background-color:gray;
    padding:4px;
  }  
  input.movie_button {
    border-style:none;
  }
}

#recipes_steps_area {
  .movie_field {
    form.movie_button_field {
      border-style:none;
      margin:0;
      padding:0;
    }  
    input.movie_selecter {
      margin-top:3px;
    }  
  }
}

dl.step > dt.selecter {
  margin:0 0.2em;
  padding:0;
  float:left;
  .button {
    padding:0.1em 0.2em;
    text-align:center;
    background-color:#ddd;
    border:outset 2px #ddd;
    margin:0;
  }
  .button:active {
    border-style:inset;
  }
  .movie_button_field {
    display:inline;
    border-style:inset;
  }
}

dl.step > dd {
  padding:0;
  margin:0;
  img {
    background-color:#aaa;
  }
  .step_edit_area {
    width:25em;
    min-width:50%;
    height:7em;
    margin:0.5em;
  }
}

#search_youtube_area {
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  margin:-5em -20em;
  background-color:white;
  width:40em;
  min-height:10em;
  max-height:20em;
  overflow-y:scroll;
  border:solid 4px #a00;
  z-index:+3;
  ul#search_result_list {
    li {
      display:block;
      float:left;
      clear:none;
      button {
        a.button_link {
          display:block;
          max-height:2.5em;
          overflow:hidden;
        }
        width:170px;
        height:170px;
        background-color:transparent;
        border:solid 2px #ffeeef;
      }
      button:hover {
        background-color:#ffe;
        border-color:#fab;
      }
    }
  }
  .movie_field {
    label {
      display:none;
    }
    input.movie_selecter {
      border:solid 1px #000;
      float:right;
      display:inline;
    }
  }
  ul#search_result_list:after {
    content:"";
    display:block;
    width:100%;
    clear:both;
  }
}

#recipe_one_point {
  width:80%;
  height:4em;
}

/*
.form_actions {
  text-align:right;
}

p#genre_description {
  font-size:small; 
}

#recipe_draft_one_point {
  width:80%;
  height:5em;
}

#search_youtube_area:after {
  content:"";
  display:block;
  width:100%;
  clear:both;
}

#recipe_comment_area:before {
  content:"";
  display:block;
  clear:both;
}

#recipe_comment_area {
  margin-top:1em;
}

h3#comment_title {
  font-size:24px;
  color:orange;
}

*/
