/* forbiddon select function */

body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.fb-like {
  height:25px;
}

form#bookmark_button {
  float:right;
}

#recipe_steps {
  iframe {
    float:left;
  }
  .txt {
    min-width:15em;
    width:80%;
  }
  section {
    margin:7px auto 7px 7px;
  }
}

.loved {
  border:solid 1px #dd5;
  background-color:#eea;
  padding:1px 4px;
}
