/* forbiddon select function */

body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#recipe_steps {
  iframe {
    float:left;
  }
  .txt {
    min-width:15em;
    width:80%;
  }
}
