@charset "UTF-8";

#header {
  border:none 2px #aaa;
  border-bottom-style:solid;
  margin-bottom:0.5em;
  .logo{
    width:100px;
    height:50px;
    border:solid 1px #aaa;
    float:left;
    clear:none;
  }
  form.header_search {
    width:15em;
    float:left;
    clear:none;
    border-style:none;
    input[type="text"] { width:10em; }
  }
  dl#login_area {
    float:right;
    width:18em;
    position:relative;
    width:21em;
    border:solid 1px #aaa;
    dt {
      width:8em;
      margin:0;
      display:block;
      float:left;
      clear:none;
    }
  }
  dl#login_area:hover {
    dd{
      display:block;
      opacity:0.8;
    }
  }
}
#header:after {
  content:"";
  display:block;
  clear:both;
}

#mymenues_bar {
  float:right;
  li {
  }
}
