@charset "UTF-8";

div.recipe {
  position:relative;
  border:solid 1px #aaa;
  width:12em;
  height:20em;
  float:left;
  clear:none;
  p.description {
    height:7em;
    overflow:hidden;
  }
  p.chef {
    text-align:right;
  }
  div.recipe_photo {
    border:solid 1px #aaa;
    height:5em;
    margin:0.3em;  
  }
  ul.recipe_status {
    position:absolute;
    margin:0;
    padding:0;
    bottom:0;
  }
}
