=render partial:'common/top_nav'

#header
  %h1 bookmark

#content
  %h2 bookmark
  #content_body
    #search_list
      - @shops.each do |shop|
        .shop_area
          %h2= "【#{shop.name}】"
          %h2=link_to shop.name, controller:'shop', action:'show', id: shop.id
          .comment
            = shop.comment
          .topics
            .topics
              %span.title TOPICS
              %span hogehoge
  #nav.nav
    


=render partial:'common/footer'
