<div id='top_bar'>
  <ul>
    <li class='name'>こんにちはゲストさん</li>
    <li class='login'><a href="/user/sign_in">login</a></li>
    <li class='login'><a href="/user/sign_up">registry</a></li>
  </ul>
</div>
<div id='header'>
  <h1>bookmark</h1>
</div>
<div id='content'>
  <h2>bookmark</h2>
  <div id='content_body'>
    <div id='search_list'>
      <div class='shop_area'>
        <h2>【水響宴 渋谷駅前店 】</h2>
        <h2><a href="/shop/show/1">水響宴 渋谷駅前店 </a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【FAT‐BUDDHA TOKYO 渋谷】</h2>
        <h2><a href="/shop/show/2">FAT‐BUDDHA TOKYO 渋谷</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【かざがぐるま 渋谷】</h2>
        <h2><a href="/shop/show/3">かざがぐるま 渋谷</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【囲灯～KAKOI～ 渋谷店】</h2>
        <h2><a href="/shop/show/4">囲灯～KAKOI～ 渋谷店</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【個室 彩り創作 四季‐shiki‐】</h2>
        <h2><a href="/shop/show/5">個室 彩り創作 四季‐shiki‐</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【ＤＥＮ Ｒｏｋｕｅｎ－Ｔｅｉ】</h2>
        <h2><a href="/shop/show/6">ＤＥＮ Ｒｏｋｕｅｎ－Ｔｅｉ</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【はなれ－HANARE－ 渋谷センター街店】</h2>
        <h2><a href="/shop/show/7">はなれ－HANARE－ 渋谷センター街店</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【美の邸（vino‐tei） 渋谷駅前店】</h2>
        <h2><a href="/shop/show/8">美の邸（vino‐tei） 渋谷駅前店</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【ＪＥＥＫＡＨＮ’ｓ】</h2>
        <h2><a href="/shop/show/9">ＪＥＥＫＡＨＮ’ｓ</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【渋谷 個室ダイニング ～すばる～】</h2>
        <h2><a href="/shop/show/10">渋谷 個室ダイニング ～すばる～</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【古木空間　和風ダイニング 粋や 渋谷センター街店】</h2>
        <h2><a href="/shop/show/11">古木空間　和風ダイニング 粋や 渋谷センター街店</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【菜な 渋谷宮益坂下店】</h2>
        <h2><a href="/shop/show/12">菜な 渋谷宮益坂下店</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【かまくら御殿 渋谷店】</h2>
        <h2><a href="/shop/show/13">かまくら御殿 渋谷店</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【KITSUNE】</h2>
        <h2><a href="/shop/show/14">KITSUNE</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
      <div class='shop_area'>
        <h2>【ラルシェ】</h2>
        <h2><a href="/shop/show/15">ラルシェ</a></h2>
        <div class='comment'>
          ★[飲放付]限定コース2980円★女性限定食べ放題も♪.
        </div>
        <div class='topics'>
          <div class='topics'>
            <span class='title'>TOPICS</span>
            <span>hogehoge</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='nav' id='nav'></div>
</div>


<%= render partial:"layouts/footer" %>
