@charset "UTF-8";

#restaurant_map{
  clear:both;
  .figure {
    background-color:#eee;
    border:solid 1px #aaa;
    width:400px;
    height:400px;
    clear:none;
    float:left;
  }
  #access_list {
    float:left;
  }
}
#restaurant_map:after {
  content:"";
  display:block;
  clear:both;
}
