<%= render partial:"header" %>

<div id='content'>
  <div id='content_body'>
    <div id='area_list_area'>
      <div class='area_list'>
        <dl>
          <% Prefecture.all.each do |pref| %>
            <dt><%= link_to pref.name, controller:"restaurants", action:"index", prefecture_id: pref.id %></dt>
          <% end %>
        </dl>
      </div>
    </div>
    <div id="country_map">
      <div class="figure">地図</div>
    </div>
  </div>
</div>

<%= render partial:"layouts/footer" %>
