<%= render partial:"header" %>

<div id="content">
  <h2>ジャンルから探す</h2>
  <div id="content_body">
    <ul class="food_genre_list">
      <% EatStyle.all.each do |style| %>
        <li><%= link_to style.name, controller:'search', action:'index', sub_area: style.id %>
      <% end %>
    </ul>
  </div>
</div>

<%=render partial:"common/footer" %>
