<%=render partial:"header" %>

<div id="content">
  <h2>ぐるなびレストラン検索</h2>
  <div id="area_area">
    <h3>エリアから探す</h3>
    <div id="are_list_area">
      <dl>
        <% Prefecture.all.each do |area| %>
          <dt><%= link_to area.name, controller:"restaurants", action:"index" %></dl>
        <% end %>
      </dl>
    </div>
  </div>
  <div id="food_genre_area">
    <h3>料理から探す</h3>
    <div id="food_genre_area">
      <ul class="food_genre_list">
      </ul>
    </div>
  </div>
  <div id="eat_style_area">
    <h3>こだわりから探す</h3>
    <div id="eat_style_area">
      <ul class="sat_style_list">
        <% EatStyle.all.each do |style| %>
          <li><%= link_to style.name, controller:"restaurants", action:"index", sub_area: style.id %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%=render partial:"layouts/footer" %>
