<h2>ジャンル追加</h2>

<div id="recipe_genre_select_area" class="area">
  <%= form_for @recipe_food do |f| %>
    <%= f.select(:recipe_food_genre_id, options_for_select(RecipeFoodGenre.unscoped.map{ |o| [ o.name,o.id ] }) ) %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
</div>
