<div id="header">
  <div id="header_up">
    <h1><a href="http://localhost:3000/">ぐるなりレストラン検索</a></h1>
    <ul>
      <li><a href="/search">レストラン検索TOP</a></li>
      <li><a href="/search/area">エリアから探す</a></li>
      <li><a href="/search/food_genre">料理から探す</a></li>
      <li><a href="/search/shop_character">こだわりから探す</a></li>
    </ul>
  </div>
  <div id="header_bottom">
    <ul clas="breadcrump_list">
      <li>ぐるなび</li>
      <li>レストラン検索</li>
      <li>エリアから探す</li>
    </ul>
    <ul class="mymenu">
      <li><a href="/mypage/index">myぐるなび</a></li>
      <li><a href="/bookmark/index">チョットぐ</a></li>
    </ul>
  </div>
</div>
<div id='content'>
  <div id='content_body'>
    <div id='area_list_area'>
      <div class='area_list'>
        <dl>
          <% AreaMaster.where( " data_type = 1 " ).each do |area| %>
            <dt><%= area.name %></dt>
            <dd>
              <ul>
                <% AreaMaster.where( " parent_id = ? ", area.id ).each do |sub_area| %>
                  <li><%=link_to sub_area.name, controller:'search', action:'index', sub_area: sub_area.id %></li>
		<% end %>
              </ul>
	    </dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div id='country_map'>
      <div class='figure'>地図</div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="cooporate_logo">
   <p> このホームページのご意見ご質問はこちら</p>
   <p> Copyright© Gurunavi, Inc. All rights reserved.</p>
  </div>
</div>
