@charset "utf-8";
/* CSS Document */

/*ベーシックボタン*/
.rbtn{ font-weight:bold;}
.rbtn a, .rbtn input{background: #fe6b1d;
background: -moz-linear-gradient(top, #fe6b1d 0%, #cd0900 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe6b1d), color-stop(100%,#cd0900));
background: -webkit-linear-gradient(top, #fe6b1d 0%,#cd0900 100%);
background: -o-linear-gradient(top, #fe6b1d 0%,#cd0900 100%);
background: -ms-linear-gradient(top, #fe6b1d 0%,#cd0900 100%);
border:1px solid #cd0900; padding:10px 20px; text-align:center;
-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.2);
box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.2);
min-width:60px;}
.rbtn a:link, .rbtn a:visited{ color:#FFF}
.rbtn a:hover{  color:#CCC}
header .inner .rbtn{ float:right; margin:20px 0 0}
a:link.blu, a:visited.blu{ background:#222b44; color:#FFF}
a:hover.blu{background:#222b44;}
/*▽2012/12/16 taguchi add*/
/*修正ボタン*/
.cbtn { font-weight:bold; margin:20px 0px 10px 0px; }
.cbtn a { background: #aaa; background: -moz-linear-gradient(top, #aaa 0%, #ccc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(100%, #aaa)); background: -webkit-linear-gradient(top, #ccc 0%, #aaa 100%); background: -o-linear-gradient(top, #ccc 0%, #aaa 100%); background: -ms-linear-gradient(top, #ccc 0%, #aaa 100%); border:1px solid #aaa; padding:5px 20px; text-align:center; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2); -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.2); box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.2); color:#fff; }
.cbtn a:link, .cbtn a:visited { color:#FFF; }
.cbtn a:hover { color:#ccc }
/*日記編集*/
.nbtn { margin-top:20px; }
.rbtn_s { font-weight:bold; margin-right:10px; }
.rbtn_s a { background: #fe6b1d; background: -moz-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe6b1d), color-stop(100%, #cd0900)); background: -webkit-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); background: -o-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); background: -ms-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); border:1px solid #cd0900; padding:5px 20px; text-align:center; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2); -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.2); box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.2); }
.rbtn_s a:link, .rbtn_s a:visited { color:#FFF }
.rbtn_s a:hover { color:#CCC }
/*フォローボタン*/
.fbtn { font-weight:bold; margin-right:10px; }
.fbtn a { background: #fe6b1d; background: -moz-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe6b1d), color-stop(100%, #cd0900)); background: -webkit-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); background: -o-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); background: -ms-linear-gradient(top, #fe6b1d 0%, #cd0900 100%); border:1px solid #cd0900; padding:5px 20px; text-align:center; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2); -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.2); box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.2); }
.fbtn a:link, .fbtn a:visited { color:#FFF }
.fbtn a:hover { color:#CCC }
/*フォロー解除ボタン*/
.fbtn_d { font-weight:bold; margin-right:10px; }
.fbtn_d a { background: #fe6b1d; background: -moz-linear-gradient(top, #fe6b1d 0%, #a20b00 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d11002), color-stop(100%, #a20b00)); background: -webkit-linear-gradient(top, #d11002 0%, #a20b00 100%); background: -o-linear-gradient(top, #d11002 0%, #a20b00 100%); background: -ms-linear-gradient(top, #d11002 0%, #a20b00 100%); border:1px solid #cd0900; padding:5px 20px; text-align:center; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2); -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.2); box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.2); }
.fbtn_d a:link, .fbtn_d a:visited { color:#FFF }
.fbtn_d a:hover { color:#CCC }
/*フォロー中ボタン*/
.fbtn_a { font-weight:bold; margin-right:10px; }
.fbtn_a a { background: #e8e8e8; background: -moz-linear-gradient(top, #e8e8e8 0%, #fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #fefefe)); background: -webkit-linear-gradient(top, #e8e8e8 0%, #fefefe 100%); background: -o-linear-gradient(top, #e8e8e8 0%, #fefefe 100%); background: -ms-linear-gradient(top, #e8e8e8 0%, #fefefe 100%); border:1px solid #ccc; padding:5px 20px; text-align:center; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.2); -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.2); box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.2); }
.fbtn_a a:link, .fbtn_a a:visited { color:#333 }
.fbtn_a a:hover { color:#CCC }
/*△2012/12/16 taguchi add*/

header .inner .rbtn { float:right; margin:20px 0 0 }
a:link.blu, a:visited.blu { background:#222b44; color:#FFF }
a:hover.blu { background:#222b44; }
.btn { }
