@charset "UTF-8";

@import url("def/html-default-css1.css");
@import "def/html-default-css2.css";

body{
  margin:0;
  padding:0;
}

p {
  margin:0;
  padding:0;
}

#top_bar{
  background-color:#000;
  color:white;
  ul{
    margin:0;
    padding:0;
    li {
      display:inline;
    }
    li.login,
    li.logout {
      float:right;
    }
  }
}
#top_bar:after{
  content:"";
  display:block;
  clear:both;
}

.breadcrumb_list {
  border:none 1px #aaa;
  border-top-style:solid;
  margin:0 0.5em;
}

#top_nav {
  ul {
    text-align:right;
    margin:1em;
    li {
      border:none 1px #aaa;
      border-left-style:solid;
      display:inline;
      padding:0.5em;
    }
  }
}

#shop_header {
  border:double 3px #aaa;  
}

#content_top_menu {
  border:none 2px #aaa;
  border-bottom-style:solid;
}

#content_bottom_menu {
  border:none 2px #aaa;
  border-top-style:solid;
}

#footer:before {
  content:"";
  display:block;
  clear:both;
}

#footer {
  margin-top:1.5em;
  .cooporate_logo {
    text-align:center;
  }
}
