// Place all the styles related to the diary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#diary_create_link {
  float:right;
}

input#diary_title {
  width:50em;
}

textarea {
  width:60em;
  height:20em;
}
