#invite_area {
  height:40em;
  ul.friends {
    height:20em;
    overflow-y:scroll;
    border:inset 2px #aaa;
    li {
      display:block;
      min-width:150px;
      width:18%;
      height:54px;
      border:solid 1px #aaa;
      float:left;
      margin:2px;
      overflow:hidden;
    }
  }
}
