@charset "UTF-8";

ul#recipe_menus {
  border:solid 1px #aaa;
  padding:0.5em 0 0 0;
  li {
    border:solid 1px #aaa;
    border-style:solid solid none solid;
    margin:0.5em 0.1em 0 0.1em;
    display:inline;
  }
}

ul.recipes {
  li.recipe {
    border:solid 1px #aaa;
    dl.recipe{
      margin:0;
      padding:0;
    }  
  }
}

h3.foodstuffs_title{
  font-size:1em;
  font-weight:normal;
  width:3em;
  display:inline;
}

ul.foodstuffs {
  display:inline;
  li { display:inline; }
}

ul.recipe_status {
  li { display:inline; }
}
