@charset "UTF-8";

@import "parts/recipe_list.css";

@mixin break_block{
  content:"";
  display:block;
  clear:both;
}

ul#content_menu_list {
  border:none 1px #aaa;
  border-bottom-style:solid;
}

ul#content_menu_list > li {
  display:block;
  width:auto;
  float:left;
  background-color:white;
  margin:0 0.3em 0 0;
  padding:0;
  border:solid 1px #aaa;
  border-style:solid solid none solid;
  border-radius: 10px 10px 0px 0px;
  a {
    display:block;
    width:auto;
    min-height:1.5em;
    min-width:6em;
    padding:0.6em 0.7em 0.4em 0.7em;
  }
}

ul#content_menu_list:after {
  content:"";
  display:block;
  clear:both;
}

#content_body{
}

h2 {
  color:orange;
}

table#profiles {
  td {
    border:solid 1px #aaa;
    padding:5px 8px;
  }
}

h2 {
  margin:0 1em;
}

.mypage_content {
  background-color:white;
}

.content {
  margin:0.5em 1em;
}
