@charset "UTF-8";

.follow_button {
  &.follow:before {
    content:"following";
  }
  &.follow:hover:before {
    content:"Đang kết nối";
  }
  &.unfollow:before {
    content:"kết nối";
  }
  &.unfollow:hover:before {
    content:"Đang kết nối";
  }
  span{ display:none; }
}

