@charset "UTF-8";

@import "parts/recipe_list.css";

@mixin break_block{
  content:"";
  display:block;
  clear:both;
}

@mixin floating_block{
  ul{
    li {
      display:inline;
    }
  }
}

#content_body{
}

h2 {
  color:orange;
}

ul#content_menu_list > li {
  display:inline;
  border:solid 1px #aaa;
}

table#profiles {
  td {
    border:solid 1px #aaa;
    padding:5px 8px;
  }
}

