
@import "content_menu.css";

#content_body{
  width:75%;
  float:left;
  clear:none;
}

#content_footer{
  width:20%;
  float:right;
  border:solid 1px #aaa;
  min-height:30em;
}

/* index */
div.recipe {
  border:solid 1px #aaa;
  width:15em;
  height:15em;
  float:left;
  clear:none;
  div.recipe_photo {
    border:solid 1px #aaa;
    height:5em;
    margin:0.3em;  
  }
}

ul#recipe_comments {
  li {
    min-height:3em;
    border:none 1px #aaa;
    border-top-style:solid;
    p { margin:0.3em 0; }
  }
  li:first-child { border-top-style:none; }
}

/* show */
#recipe_body{
  #recipe_photo{
    position:relative;
    img {
      margin:0;
    }
    min-width:200px;
    min-height:200px;
    border:solid 1px #aaa;
    float:left;
    clear:none;
    padding:0;
    margin:0 0.5em 0.5em 0.5em;
  }
}

#recipe_base_info:after {
  content:"";
  display:block;
  clear:both;
}

#recipe_steps {
  dl.step{
    width:20%;
    height:10em;
    border:solid 1px #aaa;
    float:left;
    clear:none;
  }
}
#recipe_steps:after {
  content:"";
  display:block;
  clear:both;  
}

/* new */

#recipe_description {
  width:30em;
  height:5em;
}

/* edit */
#edit_recipe_1 {
  max-width:50em;
}

#recipe_photo {
  display:block;
  clear:none;
  float:none;
}

#description > textarea {
  height:4em;
}

#foodstuffs_area {
  width:43em;
  border:solid 1px #aaa;
  display:block;
  clear:none;
  table#foodstuffs {
    td {
      padding:0;
      input { margin:0.2em; }  
    }
    td.name > input { width:17em; }
    td.amount > input { width:4em; }
  }
  #add_foodstuffs_row { float:right; }
}
#foodstuffs_area:after {
  content:"";
  display:block;
  clear:both;
}

#recipe_one_point {
  width:80%;
  height:4em;
}

dl.step > dd {
  padding:0;
  margin:0;
}

.step_edit_area {
  width:85%;
  height:7em;
}

.form_actions {
  text-align:right;
}
