@charset "UTF-8";

@import "parts/base";

/* show */
#public_button {
  margin:0 1em;
  float:right;
}

table.ingredients_list {
  width:100%;
  max-width:30em;
  border-top:1px solid #ccc;
  tr.ingredient_row {
    border-bottom:1px solid #ccc;
    width:100%;
    td {
      padding:4px 0;
    }
    td.ingredient_quantity {
      text-align:right;
    }
  }
}

#recipe_steps {
  margin:1em 0 0 0;
  padding:0;
  &:before {
    @include clearfix;
    margin:1em 0 0 0;
    padding:0;
  }
  &:after {
    @include clearfix;
  }
}

/* new, edit */
select#recipe_recipe_food_id {
  optgroup {
    display:none;
  }
  optgroup:first-child {
    display:block;
  }
}

