@charset "UTF-8";

@mixin break_block{
  content:"";
  display:block;
  clear:both;
}

@mixin floating_block{
  ul{
    li {
      display:inline;
    }
  }
}

#header{
  border:none 2px #aaa;
  border-bottom-style:solid;
  #header_up{
    h1 {
      width:15em;
      float:left;
    }
    ul {
      text-align:right;
      li {
        display:inline;
      }
    }
  }
  #header_up:after {
    @include break_block;
  }
  #header_bottom{
    @include floating_block;
  }
  .breadcrump_list{
    float:left;
  }
  .mymenu {
    float:right;
    text-align:right;
  }
}

#header:after{
  @include break_block;
}
