@charset "UTF-8";

#header {
  border:none 1px #aaa;
  border-bottom-style:solid;
  background-color:white;
  h1 {
    font-size:1.0em;
    border:solid 1px #aaa;
    width:300px;
  }
}

#content_top_tab > li {
  display:inline;
}

#content {
  margin:1em;
}

.content_menu {
  ul {
    li {
      display:inline;
      width:10em;
      border:solid 1px #aaa;
    }
  }
}

#shop_content_footer {
  border:double 3px #aaa;
}

#footer {
  p {
    text-align:center;
  }
}
