@charset "UTF-8";

@mixin break_block {
  content:"";
  display:block;
  clear:both;
}

@mixin floating_block{
  ul{
    li {
      display:inline;
    }
  }
}

#header {
  padding:0;
  margin:0 1em;
  h1{
    font-size:1em;
    width:150px;
    margin:0;
    border:solid 1px #aaa;
    p {
      font-size:0.8em;
    }
    clear:both;
    float:left;
  }
  #top_advertisement {
    margin-left:160px;
    border:solid 1px #aaa;
  }
}

#header:after {
  @include break_block;
}

#content:before {
  @include break_block;
}

