<div id="content_body" class="section bace_bg">
	<div class="contents_bg clearfix" id="invite_area">
		<h2 class="txt20">Đã gởi lời mời!</h2>
		<p class="ctr">Lời mời đã được gởi qua E-mail.</p>
		<%= link_to "Trở về list mời bạn"%>
	</div>
</div>

