<div id="content_header">
  <ul id="content_menu_list">
    <li><%= link_to "マイページ", { controller:"mypage", action:"index" } %></li>
    <li><%= link_to "ブックマーク", { controller:"bookmarks", action:"index" } %></li>
    <li><%= link_to "マイレシピ", { controller:"mypage", action:"recipes" } %></li>
    <li><%= link_to "日記", { controller:"diary", action:"index" } %></li>
  </ul>
</div>

