<div id="content_header">
  <ul id="content_menu_list">
    <% {
      "Profile" => { controller:"mypage", action:"index" },
      "Recipe yêu thích" => { controller:"bookmarks", action:"index" },
      "Recipe đã đăng" => { controller:"mypage", action:"recipes" },
      "Nhật kí" => { controller:"mypage", action:"diary" },
      "Follow" => { controller:"mypage", action:"follow" },
      "Follower" => { controller:"mypage", action:"follower" },
    }.each do |title,link| %>
      <% if params[:controller] == link[:controller] and params[:action] == link[:action] %>
        <li class="current"><%= link_to title, link %></li>
      <% else %>
        <li><%= link_to title, link %></li>
      <% end %>
    <% end %>
  </ul>
</div>

