
<div id='header'>
  <div id='header_up'>
    <h1>mypage</h1>
  </div>
  <div id='header_down'>
    <div class='breadcrumb_list'>
      <ul>
        <li>ぐるなび</li>
        <li>東京 渋谷・原宿・青山</li>
      </ul>
    </div>
  </div>
</div>

<div id='content'>
  <div id='nav'>
    <div id='user_info'>
      <p>こんにちは**さん</p>
      <p>現在ポイント</p>
    </div>
  </div>
  <div id='content_body'>
    <h2>info</h2>
    <div id='attention'></div>
    <div class='tile' id='bookmark_area'>
      <h3>bookmark</h3>
      <div class='bookmark_content'>
        <p><a href="/bookmark/index">bookmark</a></p>
      </div>
    </div>
    <div class='tile' id='recommend_area'>
      <h3>recommend</h3>
      <div class='recommend_content'></div>
    </div>
    <div class='tile' id='profile_area'>
      <h3>profile</h3>
      <div class='profile_content'></div>
    </div>
    <div class='tile' id='publication_area'>
      <h3>宴会メール</h3>
      <div class='publication_content'></div>
    </div>
    <div class='tile' id='adress_content_are'>
      <h3>住所</h3>
      <div class='address_content'></div>
    </div>
  </div>
</div>

<%=render partial:'common/footer' %>
