@charset "UTF-8";

form.new_user {
  width:25em;
  float:left;
}

#get_account_area {
  text-align:right;
  width:15em;
  float:right;
}

#sign_in {
  width:7em;
  padding:0.3em 1em;
  font-weight:bold;
  color:#fff;
}

#sign_in:hover {
  color:#aaa;
}

