<div id="footer">
  <div id="info_links_area">
    <ul>
      <li><%=link_to "会社概要", controller:'cooporate', action:'profile' %></li>
      <li><%=link_to "利用規約", controller:'cooporate', action:'term' %></li>
      <li><%=link_to "Q&A お問い合わせ", controller:'cooporate', action:'question_and_answers' %></li>
    </ul>
  </div>
  <p>CopyRigths &copy;２０１２ Nhahang24. All rights reserverd</p>
</div>

