<footer>
	<div class="inner">
		<ul>
			<li class="flo_l"><%=link_to t(:cooporate_profile, scope:"views.footer"), "/cooporation/profile" %></li>
			<li class="flo_l"><%=link_to t(:cooporate_terms,   scope:"views.footer"), "/cooporation/terms" %></li>
			<li class="flo_l"><%=link_to t(:cooporate_q_and_a, scope:"views.footer"), "/cooporation/question_and_answers" %></li>
			<li class="flo_r txt12">copyright © 2012 Cook24 all rights reserved</li>
		</ul>
	</div>
</footer>

